<% include partials/header %>
<div class="container">
  <div class="row">
    <h1>Create a new Campground</h1>

    <form class="navbar-form" action="/campground" method="post">
      <input type="text" class="form-control" name="name" placeholder="name">
      <input type="text" class="form-control" name="image" placeholder="image">
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <p><a href="/campground">Go Back</a></p>
</div>
</div>

<% include partials/footer %>
